{% extends 'messaging/dashboard/base.html' %}
{% load static %}
{% load time_tags %}

{% block content %}
<style>
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
</style>
<h2 class="page-heading">Inbound Messages</h2>
<div id="mainContainer" class="page-content col-sm-12">
  <div class="search-container">
    <span class="glyphicon glyphicon-search search-icon"></span>
    <input type="text" id="searchInbound" class="form-control search-box" placeholder="Search inbound messages">
  </div>
  <div>
    <table id="inboundTable" class="table">
      <tbody>
        <tr class="action-tr">
          <td class="col-xs-1">
            <div class="dropdown">
              <button class="btn table-action-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Select
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a>All</a></li>
                <li><a>None</a></li>
                <li><a>Read</a></li>
                <li><a>Unread</a></li>
                <li><a>Starred</a></li>
                <li><a>Unstarred</a></li>
              </ul>
            </div>
          </td>
          <td class="col-xs-1">
            <button class="btn table-action-btn"><span class="glyphicon glyphicon-refresh"></span></button>
          </td>
        </tr>
        {% for message in messages %}
        {% if message.state == 'READ_SUCCESS' %}
        <tr id="{{message.id}}">
        {% else %}
        <tr id="{{message.id}}" class="unread">
        {% endif %}
          <td class="col-xs-1 action-td">
            <input type="checkbox">
            <input type="checkbox" class="glyphicon glyphicon-star-empty favorite-btn">
          </td>
          <td class="col-xs-2">{{message.origin_msisdn}}</td>
          <td class="col-xs-5 ellipsis">{{message.message}}</td>
          <td class="col-xs-2 ">{% get_date message.timestamp %}</td>
          <td class="col-xs-2 align-right padded-right">{% get_time message.timestamp %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block custom_js %}
  <script src="{% static 'messaging/dashboard/js/chart/Chart.js' %}"></script>
  <script src="{% static 'messaging/dashboard/js/chart/Chart.bundle.js' %}"></script>
  <script src="{% static 'messaging/dashboard/js/chart/utils.js' %}"></script>
  <script src="{% static 'messaging/dashboard/js/chart/chart-main.js' %}"></script>
{% endblock %}